.cont {
    display: flex;
    flex-direction: row;
}

.title {
    text-align: center;
    font-family: "League Gothic", sans-serif;
    font-size: 5em;
}

.row {
    margin-top: 0.5em;
     width: 100%; 
}

.cardInputs {
    padding-inline: 2em;
    height: auto;
}

.align {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.btnDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
}

.button {
    width: 100%;
    padding: 1em;
    background-color: #007BC0;
    color: white;
    border: 1px solid #ccc;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "League Gothic", sans-serif;
    font-size: 2.4em;
  }
