.title {
    text-align: center;
    font-family: "League Gothic", sans-serif;
    font-size: 5em;
}

.align {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}